{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>IdCustomer</th>
                <td>{{ customer.idCustomer }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ customer.telephone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_customer_index') }}">back to list</a>

    <a href="{{ path('app_admin_customer_edit', {'id': customer.id}) }}">edit</a>

    {{ include('admin_customer/_delete_form.html.twig') }}
{% endblock %}
