{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="compte">Création de Compte</h1>
	<section>
		<div class="creation">
			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.firstname, {
                    label: 'Nom'
            }) }}

			{{ form_row(registrationForm.lastname, {
                    label: 'Prénom'
            }) }}

			{{ form_row(registrationForm.birthdayAt, {
                    label: 'Né(e) le'
            }) }}

			{{ form_row(registrationForm.adresseLigne1, {
                    label: 'Adresse'
            }) }}

			{{ form_row(registrationForm.adresseLigne2, {
                    label: 'Complément d\'adresse'
            }) }}

			{{ form_row(registrationForm.zipcode, {
                    label: 'Code Postal'
            }) }}            

			{{ form_row(registrationForm.city, {
                    label: 'Ville'
            }) }}

            {{ form_row(registrationForm.phone, {
                    label: 'Téléphone'
            }) }}

			{{ form_row(registrationForm.email, {
                    label: 'Email'
            }) }}
			{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de Passe'
            }) }}
			{{ form_row(registrationForm.agreeTerms, {
                    label: 'J\'accepte les politiques de confidentialités'
            }) }}

			<button type="submit" class="btn">Créer</button>
			<button type="submit" class="btn1">Modifier</button>
			{{ form_end(registrationForm) }}
		</div>
	</section>
{% endblock %}
