{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('admin_product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_product_index') }}">Retour</a>

    {{ include('admin_product/_delete_form.html.twig') }}
{% endblock %}
