{% extends 'base.html.twig' %}

{% block title %}List Pictures
{% endblock %}

{% block body %}
	<h1>Liste des Images</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>

		<tbody>
			{% for picture in product.pictures %}
				
				<tr>
					<td>{{ picture.id }}</td>
					<td>{{ picture.titre }}</td>
					<td><img src="{{ asset('uploads/pictures/' ~picture.path) }}" width="100"></td>
					<td>{{ picture.description }}</td>
					<td>
						<a href="{# path('app_admin_product_picture_edit', {id: product.id, picture_id: picture.id}) #}" class="btn btn-primary">Editer</a>
						{{ include('admin_product/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_admin_product_index') }}">Retour</a>
	<a href="{{ path('app_admin_product_pictures_new', {'id': product.id}) }}">Ajouter</a>
{% endblock %}
