{% extends 'base.html.twig' %}

{% block title %}List Pictures
{% endblock %}

{% block body %}
	<h1>List Pictures</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="submit">Ajouter</button>
	{{ form_end(form) }}

	<a href="{{ path('app_admin_product_index') }}">Retour</a>
	
{% endblock %}
