{% extends 'base.html.twig' %}

{% block title %}Tva{% endblock %}

{% block body %}
    <h1>Tva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tva.id }}</td>
            </tr>
            <tr>
                <th>IdTva</th>
                <td>{{ tva.idTva }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tva.nom }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ tva.taux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_tva_index') }}">back to list</a>

    <a href="{{ path('app_admin_tva_edit', {'id': tva.id}) }}">edit</a>

    {{ include('admin_tva/_delete_form.html.twig') }}
{% endblock %}
