{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Edit Adresse</h1>

    {{ include('admin_adresse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_adresse_index') }}">back to list</a>

    {{ include('admin_adresse/_delete_form.html.twig') }}
{% endblock %}
