{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdAdresse</th>
                <th>AdresseLigne1</th>
                <th>AdresseLigne2</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.idAdresse }}</td>
                <td>{{ adresse.adresseLigne1 }}</td>
                <td>{{ adresse.adresseLigne2 }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.pays }}</td>
                <td>{{ adresse.codePostal }}</td>
                <td>
                    <a href="{{ path('app_admin_adresse_show', {'id': adresse.id}) }}">show</a>
                    <a href="{{ path('app_admin_adresse_edit', {'id': adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_adresse_new') }}">Create new</a>
{% endblock %}
