{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>IdAdresse</th>
                <td>{{ adresse.idAdresse }}</td>
            </tr>
            <tr>
                <th>AdresseLigne1</th>
                <td>{{ adresse.adresseLigne1 }}</td>
            </tr>
            <tr>
                <th>AdresseLigne2</th>
                <td>{{ adresse.adresseLigne2 }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse.pays }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ adresse.codePostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_adresse_index') }}">back to list</a>

    <a href="{{ path('app_admin_adresse_edit', {'id': adresse.id}) }}">edit</a>

    {{ include('admin_adresse/_delete_form.html.twig') }}
{% endblock %}
