section {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
section .texte {
  grid-column: 6/23;
  grid-row: 2/60;
  color: #242424;
}
section .texte h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
}
section .texte p {
  font-family: "Arial Narrow";
  position: relative;
  text-align: left;
}
section .menage {
  grid-column: 2/10;
  grid-row: 34/50;
  width: 400px;
  height: 400px;
}
section .menage h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .menage .second {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
}
section .sdb {
  grid-column: 19/25;
  grid-row: 34/50;
  width: 400px;
  height: 400px;
}
section .sdb h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .sdb .premier {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}
section .mode {
  grid-column: 2/10;
  grid-row: 60/90;
  width: 400px;
  height: 400px;
}
section .mode h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .mode .trois {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}
section .pelote {
  grid-column: 19/25;
  grid-row: 60/90;
  width: 400px;
  height: 400px;
}
section .pelote h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .pelote .quatre {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 767px) {
  header section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  header section .menu {
    font-size: 23px;
    grid-column: 1/27;
    grid-row: 11;
  }
  section .texte {
    grid-row: 1/40;
  }
  section .menage {
    grid-row: 38/60;
  }
  section .mode {
    grid-row: 59/70;
  }
  section .sdb {
    grid-row: 80/100;
    grid-column: 1/27;
  }
  section .pelote {
    grid-column: 1/27;
    grid-row: 100/122;
  }
  footer section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  footer section .mention {
    font-size: 20px;
    grid-column: 10/27;
    grid-row: 3;
  }
  footer section .menu {
    font-size: 20px;
    grid-column: 11/27;
    grid-row: 6;
  }
}/*# sourceMappingURL=catalogue.css.map */