body {

    font-family: 'harlow solid italic', 'arial narrow', Helvetica, Arial, Lucida, sans-serif;
    background-color: #A9ABD9;
    color: #b4d9c4;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {

    section {
        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;




        h1 {
            font-size: 60px;
            grid-column: 8 / 20;
            grid-row: 1;
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 8;

            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color: #b4d9c4;
            }
        }

        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }
    }

}

section {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(27, 1fr);
    grid-auto-rows: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;

    .carte {
        grid-column: 1 / -1;
        grid-row: 4/ 10;


        .visite {
            position: relative;
            width: 500px;
        }
    }
}

section {

    display: grid;
    text-align: center;
    grid-template-columns: repeat(27, 1fr);
    grid-auto-rows: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;

    .contact {
        position: relative;
        text-align: center;
        font-size: 70px;
        grid-column: 6/23;
        grid-row: 3;
        color: rgb(0, 0, 0);
    }


    .form {
        label {
            display: inline-block;
            text-align: center;
            width: 100px;
            height: 100px;
            color: rgb(0, 0, 0);
        }

        input {
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 100px;
        }

        textarea {
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 100px;
        }
    }

    .button {
        display: inline-block;
        width: 300px;
        height: 100px;
    }
}

footer {

    section {

        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;



        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }

        .mention {
            position: relative;
            grid-column: 8 / 13;
            grid-row: 4;
            font-size: 23px;

            a:visited {
                color: #b4d9c4;
            }
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 4;

            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color: #b4d9c4;
            }
        }
    }
}

@media only screen and (max-width: 767px) {


    header {
        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .menu {
                font-size: 23px;
                grid-column: 1/27;
                grid-row: 11;
            }
        }

    }

    section {

        .carte {
            .visite {
                grid-column: 1/27;
                grid-row: 1/10;
                width: 80%;
            }
        }

    }

    section {

        .titre {
            grid-column: 1/27;
            grid-row: 2/6;

        }

        .formulaire {

            flex-direction: column;

            .look {
                grid-column: 1/-1;
                grid-row: 8/20;
                width: 80%;


            }
        }
    }

    .form {

        label {
            margin-top: 20px;
            height: 40px !important;
        }
    }


    footer {

        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .mention {
                font-size: 20px;
                grid-column: 10/27;
                grid-row: 3;
            }

            .menu {
                font-size: 20px;
                grid-column: 11/27;
                grid-row: 6;
            }
        }
    }
}