body {
  font-family: "harlow solid italic", "arial narrow", Helvetica, Arial, Lucida, sans-serif;
  background-color: #A9ABD9;
  color: #b4d9c4;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header section {
  display: grid;
  background-color: #44308C;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
header section h1 {
  font-size: 60px;
  grid-column: 8/20;
  grid-row: 1;
}
header section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 8;
}
@media (max-width: 1350px) {
  header section .menu menu {
    grid-column: -12;
  }
}
header section .menu a:visited {
  color: #b4d9c4;
}
header section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
header section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}

section {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
section .image {
  grid-column: 1/-1;
  grid-row: 5/90;
  width: 100%;
  height: 100%;
}
section .image .stand {
  position: relative;
  z-index: -1;
}
section .texte {
  grid-column: 2/27;
  grid-row: 38/80;
  background-color: rgba(245, 245, 220, 0.76);
  padding: 10px;
}
section .texte h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
}
section .texte p {
  font-family: "Arial Narrow";
  position: relative;
  text-align: left;
  color: rgb(0, 0, 0);
}

footer section {
  display: grid;
  background-color: #44308C;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
footer section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
footer section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}
footer section .mention {
  position: relative;
  grid-column: 8/13;
  grid-row: 4;
  font-size: 23px;
}
footer section .mention a:visited {
  color: #b4d9c4;
}
footer section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 4;
}
@media (max-width: 1350px) {
  footer section .menu menu {
    grid-column: -12;
  }
}
footer section .menu a:visited {
  color: #b4d9c4;
}

@media only screen and (max-width: 767px) {
  header section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  header section .menu {
    font-size: 23px;
    grid-column: 1/27;
    grid-row: 11;
  }
  section .image {
    display: none;
  }
  section .texte {
    grid-row: 2/66;
  }
  footer section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  footer section .mention {
    font-size: 20px;
    grid-column: 10/27;
    grid-row: 3;
  }
  footer section .menu {
    font-size: 20px;
    grid-column: 11/27;
    grid-row: 6;
  }
}/*# sourceMappingURL=index.css.map */