body {

    font-family: 'harlow solid italic', 'arial narrow', Helvetica, Arial, Lucida, sans-serif;
    background-color: #A9ABD9;
    color: #b4d9c4;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {

    section {
        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;


        h1 {
            font-size: 60px;
            grid-column: 8 / 20;
            grid-row: 1;
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 8;

            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color: #b4d9c4;
            }
        }

        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }
    }

}

section {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(27, 1fr);
    grid-auto-rows: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;

    .titre {
        position: relative;
        text-align: center;
        grid-column: 10 /20;
        grid-row: 1;
        font-size: 70px;
        color: #242424;
        top: -20px;
    }

    p {
        position: relative;
        text-align: left;
        color: #242424;
        grid-column: 8/23;
        grid-row: 8/13;
        font-family: 'arial narrow';
        font-size: 20px;
    }

    .ange {

        position: relative;
        grid-column: 2 /27;
        grid-row: 18 /40;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 13 / 15;
            color: #242424;
        }

        .angel {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 12 /30;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 12 / 30;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }
    }

    .nova4 {

        position: relative;
        grid-column: 2 /27;
        grid-row: 52 /85;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 13 / 15;
            grid-row: 45;
            color: #242424;
        }

        .nova {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 45/70;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 45 / 60;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }
    }

    .nova12 {

        position: relative;
        grid-column: 2 /27;
        grid-row: 90 / 120;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 10 / 15;
            grid-row: 80;
            color: #242424;
        }

        .Nova {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 85 /110;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 110 / 120;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }
    }

    .creative {

        position: relative;
        grid-column: 2 /27;
        grid-row: 125 / 155;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 10 / 15;
            grid-row: 12;
            color: #242424;
        }

        .bubble {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 120/150;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 120 / 150;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }

    }

    .baby {

        position: relative;
        grid-column: 2 /27;
        grid-row: 160 / 190;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 10 / 15;
            grid-row: 12;
            color: #242424;
        }

        .snuggle {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 150/180;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 150 / 180;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }

    }

    .Merinos1 {

        position: relative;
        grid-column: 2 /27;
        grid-row: 192 / 230;
        width: 100%;
        height: 100%;

        h2 {

            text-align: left;
            position: relative;
            font-size: 30px;
            grid-column: 10 / 15;
            grid-row: 12;
            color: #242424;
        }

        .easy {

            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
            grid-column: 2 /10;
            grid-row: 150/180;
        }

        p {
            grid-column: 10 / 20;
            grid-row: 150 / 180;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: #242424;
        }

    }
}

footer {

    section {

        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;

        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }

        .mention {
            position: relative;
            grid-column: 8 / 13;
            grid-row: 4;
            font-size: 23px;

            a:visited {
                color: #b4d9c4;
            }
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 4;

            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color: #b4d9c4;
            }
        }

    }
}

@media only screen and (max-width: 767px) {


    header {
        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .menu {
                font-size: 23px;
                grid-column: 1/27;
                grid-row: 11;
            }
        }

    }

    section {

        .titre {
            grid-column: 1/27;
            grid-row: 1;

            p{
                grid-column: 1/27;
                grid-row: 4/25;
            }
        }

        .ange {

            grid-row: 25/60;
        }

        .nova4 {
            
            grid-row: 61/99;
        }

        .nova12 {
           
            grid-row: 106/140;
        }

        .creative {
           
            grid-row: 143/180;
        }

        .baby {
           
            grid-row: 178/210;
        }

        .Merinos1 {
           
            grid-row: 212/250;
        }
    }
    footer {

        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .mention {
                font-size: 20px;
                grid-column: 10/27;
                grid-row: 3;
            }

            .menu {
                font-size: 20px;
                grid-column: 11/27;
                grid-row: 6;
            }
        }
    }
}