body {
  font-family: "harlow solid italic", "arial narrow", Helvetica, Arial, Lucida, sans-serif;
  background-color: #A9ABD9;
  color: #b4d9c4;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header section {
  display: grid;
  background-color: #44308C;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
header section h1 {
  font-size: 60px;
  grid-column: 8/20;
  grid-row: 1;
}
header section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 8;
}
@media (max-width: 1350px) {
  header section .menu menu {
    grid-column: -12;
  }
}
header section .menu a:visited {
  color: #b4d9c4;
}
header section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
header section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}

section {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
section .salle {
  grid-column: 6/23;
  grid-row: 2/6;
  color: #242424;
}
section .salle h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
}
section .disque {
  grid-column: 2/10;
  grid-row: 12/50;
  width: 400px;
  height: 400px;
}
section .disque h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .disque .mini {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
}
section .disque p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/45;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
section .disque button {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
}
section .rose {
  grid-column: 19/25;
  grid-row: 12/60;
  width: 400px;
  height: 400px;
}
section .rose h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
section .rose .mini {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}
section .rose p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/60;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
section .rose .button2 {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
  top: 70px;
}

footer section {
  display: grid;
  background-color: #44308C;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
footer section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
footer section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}
footer section .mention {
  position: relative;
  grid-column: 8/13;
  grid-row: 4;
  font-size: 23px;
}
footer section .mention a:visited {
  color: #b4d9c4;
}
footer section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 4;
}
@media (max-width: 1350px) {
  footer section .menu menu {
    grid-column: -12;
  }
}
footer section .menu a:visited {
  color: #b4d9c4;
}

@media only screen and (max-width: 767px) {
  header section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  header section .menu {
    font-size: 23px;
    grid-column: 1/27;
    grid-row: 11;
  }
  section .texte {
    grid-row: 1;
    grid-column: 1/27;
  }
  section .disque {
    grid-row: 10/43;
  }
  section .disque .button {
    grid-column: 1/27;
    text-align: left;
  }
  section .rose {
    grid-column: 1/27;
    grid-row: 43/82;
    padding: 10px;
  }
  footer section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  footer section .mention {
    font-size: 20px;
    grid-column: 10/27;
    grid-row: 3;
  }
  footer section .menu {
    font-size: 20px;
    grid-column: 11/27;
    grid-row: 6;
  }
}/*# sourceMappingURL=sdb.css.map */