body {

    font-family: 'harlow solid italic', 'arial narrow', Helvetica, Arial, Lucida, sans-serif;
    background-color: #A9ABD9;
    color: #b4d9c4;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {

    section {
        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;      
        


        h1 {
            font-size: 60px;
            grid-column: 8 / 20;
            grid-row: 1;
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 8;
    
            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color:#b4d9c4;
            }
        }

        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }
    }

}

section {
    display: grid;
    text-align: center;    
    grid-template-columns: repeat(27, 1fr);
    grid-auto-rows: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;  

    .titre {

        grid-column: 6 / 23;
        grid-row: 2;
        color:#242424;

        h1 {
            position: relative;
            text-align: center;
            font-size: 70px;
        }
    }

    .snood1 {

        grid-column: 2 /10;
        grid-row: 12 /30;
        width: 400px;
        height: 400px;

        h2 {
            text-align: center;
            position: relative;
            font-size: 30px;
            color:#242424;
        }

        .simple {
            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
        }

        p {
            grid-column: 2 / 10;
            grid-row: 10 / 45;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: rgb(0, 0, 0);
        }

        .button {            
            width: 100px;
            height: 50px;
            text-align: left;
            position: relative;
            font-family: 'arial narrow';            
        }
    }

    .Echarpes {

        grid-column: 19 /25;
        grid-row: 12 /30;
        width: 400px;
        height: 400px;

        h2 {
            text-align: center;
            position: relative;
            font-size: 30px;
            color:#242424;
        }

        .premier {
            text-align: right;
            position: relative;
            width: 300px;
            height: 300px;
        }

        p {
            grid-column: 2 / 10;
            grid-row: 10 / 45;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: rgb(0, 0, 0);
        }

        .button {            
            width: 100px;
            height: 50px;
            text-align: left;
            position: relative;
            font-family: 'arial narrow';            
        }
    }

    .snood2 {

        grid-column: 10/18;
        grid-row: 48/90;
        width: 400px;
        height: 400px;

        h2 {
            text-align: center;
            position: relative;
            font-size: 30px;
            color:#242424;
        }

        .double {
            text-align: left;
            position: relative;
            width: 300px;
            height: 300px;
        }

        p {
            grid-column: 10 / 18;
            grid-row: 10 / 45;
            position: relative;
            font-family: 'arial narrow';
            text-align: left;
            width: 100%;
            height: 200px;
            color: rgb(0, 0, 0);
        }

        .button {            
            width: 100px;
            height: 50px;
            text-align: left;
            position: relative;
            font-family: 'arial narrow';
            top: 70px;
        }
    }

}

footer {

    section {

        display: grid;
        background-color: #44308C;
        text-align: center;
        grid-template-columns: repeat(27, 1fr);
        grid-auto-rows: 20px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;

        

        .logo {
            grid-column: 2/ 5;
            grid-row: 2 / 10;
            width: 100px;
            height: 100px;

            .log {
                position: relative;
                width: 150px;
                height: 150px;
            }
        }

        .mention {
            position: relative;
            grid-column: 8 / 13;
            grid-row: 4;
            font-size: 23px;

            a:visited {
                color:#b4d9c4;
            }
        }

        .menu {
            font-size: 23px;
            grid-column: 15 / 27;
            grid-row: 4;
    
            @media (max-width:1350px) {
                menu {
                    grid-column: 15-27;
                }
            }

            a:visited {
                color:#b4d9c4;
            }
        }
    }
}

@media only screen and (max-width: 767px) {


    header {
        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .menu {
                font-size: 23px;
                grid-column: 1/27;
                grid-row: 11;
            }
        }

    }

    section {

        .titre {
            grid-column: 1/27;
            grid-row: 1;
        }

        .snood1 {
            grid-column: 1/27;
            grid-row: 14/43;           
            padding: 10px;
            .button {
                grid-column: 1/27;
                text-align: left;
            }
        }

        .snood2 {
            grid-column: 1/27;
            grid-row: 47/85;
            padding: 10px;

            .button {
                grid-column: 1/27;
                text-align: left;
            }
        }

        .Echarpes {
            grid-column: 1/27;
            grid-row: 83/118;
            padding: 10px;

            .button {
                grid-column: 1/27;
                text-align: left;
            }
        }
    }

    footer {

        section {

            h1 {
                font-size: 40px;
                grid-column: 12/27;
            }

            .mention {
                font-size: 20px;
                grid-column: 10/27;
                grid-row: 3;
            }

            .menu {
                font-size: 20px;
                grid-column: 11/27;
                grid-row: 6;
            }
        }
    }
}