{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.titre }}</td>
            </tr>
            <tr>
                <th>Desciption</th>
                <td>{{ category.desciption }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ category.images }}</td>
                <td>
                    <img src="{{ asset('uploads/imagesCategory/'~category.images ) }}" alt="si tu me vois ça marche pas!"/>
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_index') }}">back to list</a>

    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
