{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>IdOrder</th>
                <td>{{ order.idOrder }}</td>
            </tr>
            <tr>
                <th>PaidAt</th>
                <td>{{ order.paidAt ? order.paidAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ShippingAt</th>
                <td>{{ order.shippingAt ? order.shippingAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveredAt</th>
                <td>{{ order.deliveredAt ? order.deliveredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_order_index') }}">back to list</a>

    <a href="{{ path('app_admin_order_edit', {'id': order.id}) }}">edit</a>

    {{ include('admin_order/_delete_form.html.twig') }}
{% endblock %}
