<form method="post" action="{{ path('app_admin_order_detail_delete', {'id': order_detail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_detail.id) }}">
    <button class="btn">Delete</button>
</form>
