{% extends 'base.html.twig' %}

{% block title %}New OrderDetail{% endblock %}

{% block body %}
    <h1>Create new OrderDetail</h1>

    {{ include('admin_order_detail/_form.html.twig') }}

    <a href="{{ path('app_admin_order_detail_index') }}">back to list</a>
{% endblock %}
