{% extends 'base.html.twig' %}

{% block title %}OrderDetail{% endblock %}

{% block body %}
    <h1>OrderDetail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order_detail.id }}</td>
            </tr>
            <tr>
                <th>IdOrderDetail</th>
                <td>{{ order_detail.idOrderDetail }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ order_detail.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ order_detail.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_order_detail_index') }}">back to list</a>

    <a href="{{ path('app_admin_order_detail_edit', {'id': order_detail.id}) }}">edit</a>

    {{ include('admin_order_detail/_delete_form.html.twig') }}
{% endblock %}
