{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<h1>Conexion</h1>

<form action="{{path('security_login')}}" method="post">
    <div class="form-group">
        <input placeholder="Adresse email" require name="_username" type="text" class="form-control"
    </div>
    <div class="form-group">
        <input placeholder="Mot de Passe" require name="_password" type="password" class="form-control"
    </div>
    <div class="form-group">
        <button type="submit" class="connexion">Conexion</button>
    </form>
</form>
    
{% endblock %}
