{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
<h1>Inscription</h1>

{{form_start(form)}}

{{form_row(form.nom, {'label' : 'Nom d\'utilisateur', 'attr' : {'placeholder' : 'Nom d\'utilisateur'}})}}
    {{form_row(form.email, {'label' : 'Adresse email', 'attr' : {'placeholder' : 'Adresse email'}})}}
    {{form_row(form.passWord, {'label' : 'Mot de Passe', 'attr' : {'placeholder' : 'Mot de Passe'}})}}
    {{form_row(form.confirm_passWord, {'label' : 'Confirmation du Mot de Passe', 'attr' : {'placeholder' : 'Confirmation du Mot de Passe'}})}}
    
    <button type="submit" class="inscription">Inscription</button>

    {{form-end(form)}}
{% endblock %}
