body {
  font-family: "harlow solid italic", "arial narrow", Helvetica, Arial, Lucida, sans-serif;
  background-color: #A9ABD9;
  color: rgb(0, 0, 0);
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header section {
  display: grid;
  background-color: #44308C;
  color: #b4d9c4;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
header section h1 {
  font-size: 60px;
  grid-column: 8/20;
  grid-row: 1;
}
header section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 8;
}
@media (max-width: 1350px) {
  header section .menu menu {
    grid-column: -12;
  }
}
header section .menu a:visited {
  color: #b4d9c4;
}
header section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
header section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}

section {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

footer section {
  display: grid;
  background-color: #44308C;
  text-align: center;
  grid-template-columns: repeat(27, 1fr);
  grid-auto-rows: 20px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
footer section .logo {
  grid-column: 2/5;
  grid-row: 2/10;
  width: 100px;
  height: 100px;
}
footer section .logo .log {
  position: relative;
  width: 150px;
  height: 150px;
}
footer section .mention {
  position: relative;
  grid-column: 8/13;
  grid-row: 4;
  font-size: 23px;
}
footer section .mention a:visited {
  color: #b4d9c4;
}
footer section .menu {
  font-size: 23px;
  grid-column: 15/27;
  grid-row: 4;
}
@media (max-width: 1350px) {
  footer section .menu menu {
    grid-column: -12;
  }
}
footer section .menu a:visited {
  color: #b4d9c4;
}

@media only screen and (max-width: 767px) {
  header section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  header section .menu {
    font-size: 23px;
    grid-column: 1/27;
    grid-row: 11;
  }
  section .image {
    display: none;
  }
  section .texte {
    grid-row: 2/66;
  }
  footer section h1 {
    font-size: 40px;
    grid-column: 12/27;
  }
  footer section .mention {
    font-size: 20px;
    grid-column: 10/27;
    grid-row: 3;
  }
  footer section .menu {
    font-size: 20px;
    grid-column: 11/27;
    grid-row: 6;
  }
}
.image {
  grid-column: 1/-1;
  grid-row: 3/90;
  width: 100%;
}
.image .stand {
  position: relative;
  z-index: -1;
}

.texte {
  grid-column: 4/25;
  grid-row: 29/80;
  background-color: rgba(245, 245, 220, 0.76);
  padding: 10px;
}
.texte h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
}
.texte p {
  font-family: "Arial Narrow";
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.ecrit {
  grid-column: 6/23;
  grid-row: 2/60;
  color: #242424;
}
.ecrit h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
}
.ecrit p {
  font-family: "Arial Narrow";
  position: relative;
  text-align: left;
}

.menage {
  grid-column: 2/10;
  grid-row: 34/50;
  width: 400px;
  height: 400px;
}
.menage h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.menage .second {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
}

.sdb {
  grid-column: 19/25;
  grid-row: 34/50;
  width: 400px;
  height: 400px;
}
.sdb h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.sdb .premier {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}

.mode {
  grid-column: 2/10;
  grid-row: 60/90;
  width: 400px;
  height: 400px;
}
.mode h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.mode .trois {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}

.pelote {
  grid-column: 19/25;
  grid-row: 60/90;
  width: 400px;
  height: 400px;
}
.pelote h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.pelote .quatre {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}

.carte {
  grid-column: 1/-1;
  grid-row: 4/10;
}
.carte .visite {
  position: relative;
  width: 500px;
}

.contact {
  text-align: center;
  font-size: 70px;
  grid-column: 1/-1;
  grid-row: 3;
  color: rgb(0, 0, 0);
}

.form {
  grid-column: 1/-1;
  grid-row: 12/25;
}
.form label {
  text-align: center;
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
}
.form input {
  text-align: right;
  width: 80%;
  height: 30px;
  gap: 5px;
}
.form textarea {
  text-align: center;
  width: 80%;
  height: 100px;
}

.button {
  grid-column: 1/-1;
  grid-row: 25;
  width: 300px;
  height: 100px;
}

.pelotetitre {
  position: relative;
  text-align: center;
  grid-column: 10/20;
  grid-row: 1;
  font-size: 70px;
  color: #242424;
  top: -20px;
}

p {
  position: relative;
  text-align: left;
  color: #242424;
  grid-column: 8/23;
  grid-row: 8/13;
  font-family: "arial narrow";
  font-size: 20px;
}

.ange {
  position: relative;
  grid-column: 2/27;
  grid-row: 18/40;
  width: 100%;
  height: 100%;
}
.ange h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 13/15;
  color: #242424;
}
.ange .angel {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 12/30;
}
.ange p {
  grid-column: 10/20;
  grid-row: 12/30;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.nova4 {
  position: relative;
  grid-column: 2/27;
  grid-row: 52/85;
  width: 100%;
  height: 100%;
}
.nova4 h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 13/15;
  grid-row: 45;
  color: #242424;
}
.nova4 .nova {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 45/70;
}
.nova4 p {
  grid-column: 10/20;
  grid-row: 45/60;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.nova12 {
  position: relative;
  grid-column: 2/27;
  grid-row: 90/120;
  width: 100%;
  height: 100%;
}
.nova12 h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 10/15;
  grid-row: 80;
  color: #242424;
}
.nova12 .Nova {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 85/110;
}
.nova12 p {
  grid-column: 10/20;
  grid-row: 110/120;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.creative {
  position: relative;
  grid-column: 2/27;
  grid-row: 125/155;
  width: 100%;
  height: 100%;
}
.creative h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 10/15;
  grid-row: 12;
  color: #242424;
}
.creative .bubble {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 120/150;
}
.creative p {
  grid-column: 10/20;
  grid-row: 120/150;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.baby {
  position: relative;
  grid-column: 2/27;
  grid-row: 160/190;
  width: 100%;
  height: 100%;
}
.baby h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 10/15;
  grid-row: 12;
  color: #242424;
}
.baby .snuggle {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 150/180;
}
.baby p {
  grid-column: 10/20;
  grid-row: 150/180;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.Merinos1 {
  position: relative;
  grid-column: 2/27;
  grid-row: 192/230;
  width: 100%;
  height: 100%;
}
.Merinos1 h2 {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 10/15;
  grid-row: 12;
  color: #242424;
}
.Merinos1 .easy {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 150/180;
}
.Merinos1 p {
  grid-column: 10/20;
  grid-row: 150/180;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: #242424;
}

.vaisselle {
  grid-column: 6/23;
  grid-row: 2/12;
  color: #242424;
}
.vaisselle h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
}

.eponge {
  position: relative;
  grid-column: 2/10;
  grid-row: 12/60;
  width: 100%;
  height: 100%;
}
.eponge .cuisine {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 2/10;
  color: rgb(0, 0, 0);
}
.eponge .fil {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 10/40;
}
.eponge p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/50;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
.eponge .button {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
  top: 143px;
}

.lavette {
  position: relative;
  grid-column: 17/25;
  grid-row: 12/50;
  width: 100%;
  height: 100%;
}
.lavette .lave {
  text-align: left;
  position: relative;
  font-size: 30px;
  grid-column: 2/10;
  color: rgb(0, 0, 0);
}
.lavette .poussiere {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: 2/10;
  grid-row: 10/40;
}
.lavette p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/45;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
.lavette .button {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
  top: 143px;
}

.salle {
  grid-column: 6/23;
  grid-row: 2/6;
  color: #242424;
}
.salle h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
}

.disque {
  grid-column: 2/10;
  grid-row: 12/50;
  width: 400px;
  height: 400px;
}
.disque h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.disque .mini {
  text-align: left;
  position: relative;
  width: 300px;
  height: 300px;
}
.disque p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/45;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
.disque button {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
}

.rose {
  grid-column: 19/25;
  grid-row: 12/60;
  width: 400px;
  height: 400px;
}
.rose h2 {
  text-align: center;
  position: relative;
  font-size: 30px;
  color: #242424;
}
.rose .mini {
  text-align: right;
  position: relative;
  width: 300px;
  height: 300px;
}
.rose p {
  display: -moz-inline-grid;
  grid-column: 13/27;
  grid-row: 10/60;
  position: relative;
  font-family: "arial narrow";
  text-align: left;
  width: 100%;
  height: 200px;
  color: rgb(0, 0, 0);
}
.rose .button2 {
  width: 100px;
  height: 50px;
  text-align: left;
  position: relative;
  font-family: "arial narrow";
  top: 70px;
}

.sign {
  grid-column: 1/-1;
  grid-row: 2/3;
  color: #242424;
  position: relative;
  text-align: center;
  font-size: 70px;
}

.login {
  grid-column: 5/23;
  grid-row: 1/25;
}
.login label {
  text-align: right;
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  gap: 10px;
}
.login input {
  width: 100%;
  height: 30px;
  font-size: 30px;
  gap: 10px;
}

button {
  grid-column: 5/23;
  grid-row: 12;
  width: 100px;
  height: 50px;
  text-align: center;
  font-family: "arial narrow";
}

.compte {
  grid-column: 1/-1;
  grid-row: 2/3;
  color: #242424;
  position: relative;
  text-align: center;
  font-size: 70px;
}

.creation {
  grid-column: 5/23;
  grid-row: 1/40;
}
.creation label {
  text-align: right;
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  gap: 10px;
}

.panier {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.panier h1 {
  position: relative;
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
}

.oups {
  grid-column: 1/-1;
  grid-row: 9/10;
}
.oups p {
  font-family: "Arial Narrow";
  position: relative;
  text-align: center;
}/*# sourceMappingURL=app.css.map */