{% extends 'base.html.twig' %}

{% block title %}
	Catalogue
{% endblock %}

{% block body %}

	<section>

		<div class="ecrit">
			<h1>Catalogue</h1>
			<p>
				Bonjour à vous,
				<br>
				<br>
				Ici vous retrouverez l’ensemble de mes créations rangées par catégories.
				<br>
				Pour ces dernières, j’utilise un ensemble de fils écoresponsables et naturels que vous retrouverez dans
								                la rubrique
				<pelotes href="{{ path('pelote')}}">pelotes</a>
				du catalogue.
				<br>
				<br>
				Comme vous pouvez le constater, mes créations vont de l’entretient de la maison aux écharpes ou bonnets.
				<br>
				Elles sont toutes faites sur mesures et crées dans les couleurs qui vous font plaisir.
				<br>
				<br>
				En fonction des créations, un délai de deux mois peut être demandé au besoin, si je dois commander
								                certaines couleurs ou si le travail demandé est grand. Comme un pull pour homme par exemple.
				<br>
				<br>
				N’hésitez pas à mes contacter pour choisir les couleurs que vous désirez.
				<br>
				<br>
				Au plaisir de vous lire.
				<br>
				<br>
				Bonne journée à vous.
				<br>
				<br>

			</p>
		</div>

		<div class="sdb">
			<h2>Salle de Bain</h2>
			<a href="{{ path('sdb')}}"><img class="premier" src={{ asset("/images/Sdb/Roses/IMG_6116.JPEG")}} " alt=" "></a>
		</div>
		<div class="menage">
			<h2>Ménage</h2>
			<a href="{{ path('menage')}}"><img class="second" src="{{ asset("/images/Cuisine/Eponges/couv.jpg")}}" alt=""></a>
		</div>
		<div class="mode">
			<h2>Mode</h2>
			<a href="{{ path('mode')}}"><img class="trois" src="{{ asset("/images/hiver.jpeg")}}" alt=""></a>
		</div>
		<div class="pelote">
			<h2>Pelotes</h2>
			<a href="{{ path('pelote')}}"><img class="quatre" src="{{ asset("/images/pelotes.jpg")}}" alt=""></a>
		</div>
	</section>


{% endblock %}
