{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<section>
		<div class="carte">
			<img class="visite" src="{{ asset("/images/carte.jpg")}}" alt="">
		</div>
	</section>

	<section>
		<h1 class="contact">Formulaire de Contact</h1>

		<div class="form">
			<div>
				<label for="Nom">Nom</label>
				<input type="text" name="Nom">
			</div>

			<div>
				<label for="Prenom">Prénom</label>
				<input type="text" name="Prenom">
			</div>

			<div>
				<label for="Message">Message</label>
				<textarea name="Message" name="Message"></textarea>
			</div>
		</div>

		<div class="button">
			<input class="btn" type="submit" value="Envoyer">
		</div>

	</section>


{% endblock %}
