{% extends 'base.html.twig' %}

{% block title %}Au Fil Du Val
{% endblock %}

{% block body %}

	<section>
		<div class="image">
			<img class="stand" src="{{ asset("/images/Moi/IMG_6044.JPEG")}}" alt="">
		</div>

		<div class="texte">
			<h1>{{ title }}</h1>
			<p>
				Bonjour à toutes et tous,
				<br>
				<br>
				Je voulais vous racontez un peu ma vie et vous expliquez ce qui m'a ammené à exercer cette activité
																                professionnelle.
				<br>
				<br>
				J'ai passé les trois-quart de ma vie en ville, à subir le stress, la malebouffe et le 100% commercial
																                inérant à cette vie.
				<br>
				<br>
				En 2018, après la naissance du petit dernier, mon époux et moi-même avons décidé de tirer un trait
																                sur cette vie qui ne nous correspondait pas et de nous installer à la campagne. Nous avions besoin de
																                nous
																                ressourcer et quoi de mieux que d'avoir un cadre de vie qui respire la zénitude. C'est ainsi que nous
																                avons emménagé à
																                VALENSOLE, pays de la Lavande, dans les Alpes de Hautes Provences (04).
				<br>
				<br>
				S'en ai suivi un changement d'habitudes d'achats puisque, de suite, nous avons préféré faire nos courses
																                au marché ainsi qu' auprès des producteurs et commerçants locaux. De plus, l'acquisition d'un terrain nous a
																                permis, dans un
																                premier temps, de faire nos propores cultures et, dans un second temps, à mon époux, de créer son
																                entreprise maraîchère. Mais ca,
																                c'est une autre histore...
				<br>
				<br>
				Notre potager à donc entraîner un changement d'habitude alimentaire avec la possibilité de cuisiner nos
																                propres produits et, à ce jour, 80% de notre consommation quotidienne est "fait maison".
				<br>
				<br>
				Le "fait-maison" et le naturel avaient enfin leurs place dans ma vie, ce qui correspondait plus à mes
																                besoins et mes envies.
				<br>
				<br>
				Après, le secteur alimentaire, je me suis dit " et pourquoi ne pas étendre le "fait maison ?".
				<br>
				J'ai donc repris mon crochet et j'ai commencé à faire mes propres éponges, lavettes, fleurs de bain
																                etc...
				<br>
				J'ai étendu mon rayon d'action à la mode ainsi qu'à la déco et, devant l'enthousiasme de mon entourage,
																                j'ai décidé de me lancer afin de vous faire partager mes créations et mon univers.
				<br>
				<br>
				Au sujet de mes créations, j'utilise autant que possible des fils et laines en matières naturelles et
																                éco-responsable pour pouvoir, au fil du temps, abandonner complètement le polyèstère.
				<br>
				<br>
				J'epère que mes crétions répondront à vos besoins, envies et attentes.
				<br>
				<br>
				Je vous souhaite une bonne et douce journée et vous dit à très vite.
				<br>
				<br>
				NATHALIE.
				<br>
				<br>
			</p>
		</div>
	</section>
{% endblock %}
