{% extends 'base.html.twig' %}

{% block title %}Ménage
{% endblock %}

{% block body %}
	<section>
		<div class="vaisselle">
			<h1>Ménage</h1>
		</div>

		<div class="eponge">
			<h2 class="cuisine">Eponges</h2>
			<img class="fil" src="{{ asset('/images/Cuisine/Eponges/_DSC5659.JPG')}}" alt="">
			<p>
				Cette éponge magique va vous réconcilier avec la vaisselle et le ménage !
				<br>
				<br>
				Son fil, abrasif et extensible, résiste aux hautes températures, à la javel et surtout au temps, malgré
				                les
				                lavages successifs en machine .
				<br>
				<br>
				Fini, les éponges que vous jettez toutes les semaines!
				<br>

				J'utilise le fil
				<a href="{{ asset('/images/Fils/Bubble/bubble.jpg')}}">Creative Bubble</a>.
				<br>
				Vous trouverez sa description dans la page
				<a href="{{ path('pelote')}}">pelotes</a>
				du site.
				<br>
				<br>
				Lavable à 60°C.
				<br>
				<br>
				Prix TTC: 20 €.
				<br>
				<br>
			</p>
			{# <div class="button">
				<a href="{{ path('panier_add', {'id':product.id}) }}"><input type="submit" value="Ajouter au Panier"></a>
			</div> #}
		</div>

		<div class="lavette">
			<h2 class="lave">Lavettes</h2>
			<img class="poussiere" src="{{ asset('/images/Cuisine/Lavettes/lave.JPEG')}}" alt="">
			<p>
				Fini le microfibre grâce à cette lavette en fil de bambou !
				<br>
				<br>
				Toute douce, vous pourrez aussi bien faire la vaisselle que les poussière avec.
				<br>
				<br>

				J'utilise le fil
				<a href="{{ asset('/images/Fils/Angel/Angel.JPG')}}">Angel</a>.
				<br>
				Vous trouverez sa description dans la page
				<a href={{ path('pelote')}} ">pelotes</a>
				du site.
				<br>
				<br>
				Lavable en programme délicat ou à 40°C.
				<br>
				<br>
				Prix TTC: 25€.
				<br>
				<br>
			</p>
			{# <div class="button">
				<a href="{{ path('panier_add', {'id':product.id}) }}"><input type="submit" value="Ajouter au Panier"></a>
			</div> #}
		</div>
	</section>


{% endblock %}
