{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}

	<section>
		<div class="panier">
			<h1>Panier</h1>
		</div>
		<div class="oups">
			<p>Ton panier est vide</p>
		</div>
	</section>

{% endblock %}
