{% extends 'base.html.twig' %}

{% block title %}Pelotes{% endblock %}

{% block body %}

<section>
        <h1 class="pelotetitre">Pelotes</h1>

        <p>
            Cette page a pour but de vous présenter les différents fils que j'utilise pour mes confections. <br>
            <br>
            Ainsi vous pourrez connaître leurs compositions ainsi que leurs modes d'entretien. <br>
            <br>
            En aucun cas je suis une revendeuse. <br>
            <br>
            Merci pour votre compréhension. <br>
            <br>
        </p>

        <div class="ange">
            <h2>Angel</h2>
            <img class="angel" src="{{ asset("/images/Fils/Angel/Angel.JPG")}}" alt="">
            <p>
                Angel DMC est un joli mélange de viscose et de laine. Cette association offre une douceur incomparable
                et une parfaite définition du point. <br>
                <br>
                Une sublime palette associant couleurs vives et tons plus traditionnels pour la layette. <br>
                <br>
                Lavable en machine programme délicat. <br>
                <br>
                pelote 50gr, 95 mètres. <br>
                <br>
                80% viscose et 20% de laine. <br>
                <br>
            </p>
        </div>
        <div class="nova4">
            <h2>Nova Vita 4</h2>
            <img class="nova" src="{{ asset("/images/Fils/Nova/Nova4/Nova4.jpg")}}" alt="">
            <p>
                NOVA VITA 4 est un fil de coton recyclé destiné pour la décoration de la maison. Grâce à ce fil réalisez
                des caches-pots, coussins, tapis, corbeilles, macramé, abat-jour... <br>
                <br>
                DMC donne une seconde vie au coton... un fil pensé pour le futur de la planète. <br>
                <br>
                NOVA VITA c'est : des chutes de tissus transformés, colorés, pour en faire un fil. Une gamme de 18
                coloris, neutres, pastels et tendances pour la déco ! <br>
                <br>
                La super idée est l'étiquette qui entoure la pelote et qui sera à planter pour ne plus les jeter et
                créer de nouvelles vies ! Je plante mon étiquette et je récolte de magnifiques marguerites ! <br>
                <br>
                Certification OEKO-TEX <br>
                <br>
                Pelote de 250gr / 200m <br>
                <br>
            </p>
        </div>
        <div class="nova12">
            <h2>Nova Vita 12</h2>
            <img class="Nova" src="{{ asset("/images/Fils/Nova/Nova12/Nova12.jpeg")}}" alt="">
            <p>
                Faisons quelque chose de bien pour notre planète ! <br>
                <br>
                Nova Vita 12, un fil pensé pour le futur de la planète. <br>
                <br>
                Un fil fabriqué à partir de coton recyclé provenant de chutes de tissus. <br>
                <br>
                Nova Vita 12 est un fil tubulaire de 4mm avec un aspect "cordon", un fil doux et résistant. <br>
                <br>
                Certification OEKO-TEX <br>
                <br>
                Pelote de 250gr / 55m <br>
                <br>
            </p>
        </div>
        <div class="creative">
            <h2>Créative Bubble</h2>
            <img class="bubble" src="{{ asset("/images/Fils/Bubble/bubble.jpg")}}" alt="">
            <p>
                Creative Bubble, le fil aux propriétés abrasives !!! <br>
                <br>
                Idéal pour les éponges et le ménage. <br>
                <br>
                Tout droit venu du Japon, on appelle cela la "tawashi". <br>
                <br>
                100% polyester. <br>
                <br>
                Longueur ≈ 90 mètres. <br>
                <br>
                Lavable à 60 degrés. <br>
                <br>
            </p>
        </div>
        <div class="baby">
            <h2>Baby Snuggle Solide</h2>
            <img class="snuggle" src="{{ asset("/images/Fils/Babby/Snuggle.jpg")}}" alt="">
            <p>
                Épais, chaud et super doux - voici la description qui correspond le mieux à Baby Snuggle Solide. <br>
                <br>
                Baby Snuggle Solide est un fil en micro-fibres. La surface du fil fait que ce dernier est extrêmement
                doux sur la peau. <br>
                <br>
                Certification Oeko-Tex. <br>
                <br>
                Laver en machine à 30 degrés. <br>
                <br>
            </p>
        </div>
        <div class="Merinos1">
            <h2>Easy Care Merino Big</h2>
            <img class="easy" src="{{ asset("/images/Fils/Merinos/Merino.jpg")}}" alt="">
            <p>
                Ce fil est tout doux et ne gratte pas, ce qui le rend plaisant à porter. <br> 
                <br>
                En plus d’être très agréable au toucher, la laine est pré-traitée pour supporter un lavage régulier. <br>
                <br>               
                Composition: 100% Laine Mérinos. <br>
                <br>
                Longueur: environ 85m / pelote. <br>
                <br>
                Lavage délicat ou laine / séchage à basse temérature. <br>
            </p>
        </div>
    </section>
{% endblock %}
