{% extends 'base.html.twig' %}

{% block title %}Salle de Bain{% endblock %}

{% block body %}

 <section>
        <div class="salle">
            <h1 class="bain">Salle de Bain</h1>
        </div>

        <div class="disque">
            <h2 class="maquille">Disques Démaquillants</h2>
            <img class="mini" src="{{ asset('/images/Sdb/Disques Démaquillants/IMG_6115.JPEG')}}" alt="">
            <p>
                Ils sont d’une grande douceur, ce qui semble indispensable pour un article destiné à être
                régulièrement au contact de la peau du visage. <br>
                <br>
                J'utilise le fil <a href="../AuFilDuVal/images/Fils/Angel/Angel.JPG">Angel</a>.
                <br>
                Vous trouverez sa description dans la page <a href="../AuFilDuVal/pelotes.html">pelotes</a> du site.
                <br>
                <br>
                Lavable en programme délicat ou à 40°C <br>
                <br>
                Prix TTC: 10€. <br>
                PROMOTION PERMANENTE : les 3: 20 €
                <br>
            </p>
            <div class="button">
                <input type="submit" value="Ajouter au Panier">
            </div>
        </div>

        <div class="rose">
            <h2 class="douche">Gommage</h2>
            <img class="mini" src="../AuFilDuVal/images/Sdb/Coeurs et Roses de Gommage/IMG_6116.JPEG" alt="">
            <p>
                On peut la trouver abrasive au toucher, mais ça serait une grave erreur de s’arrêter à cet aspect,
                d’autant qu’en réalité il n’en est rien ! <br>
                <br>
                En petits massages circulaires avec votre gommage, elle est parfaite ! <br>
                Votre peau s’en retrouvera infiniment plus douce, pas irritée ni abîmée. <br>
                <br>
                Elle trouvera vite sa place dans votre routine beauté !
                <br>
                J'utilise le fil <a href="../AuFilDuVal/images/Fils/Bubble/bubble.jpg">Créative Bubble</a>.
                <br>
                Vous trouverez sa description dans la page <a href="../AuFilDuVal/pelotes.html">pelotes</a> du site.
                <br>
                <br>
                Lavable à 60°C <br>
                <br>
                Prix TTC: 20€. <br>                
                <br>
            </p>
            <div class="button2">
                <input type="submit" value="Ajouter au Panier">
            </div>
        </div>
    </section>

{% endblock %}
