<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset("/images/logo.jpg.jpg")}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<header>
			<section>
				<h1>Au Fil Du Val</h1>
				<div class="menu">
					<a href="/">Accueil</a>
					<a href="/catalogue">Catalogue</a>
					<a href="/contact">Contact</a>
					<a href="/panier">Panier</a>
				</div>
				<div class="logo">
					<img class="log" src="{{ asset("/images/logo.jpg.jpg")}} " alt="">
				</div>

			</section>
		</header>


		{% block body %}

			body {
			
			    font-family: 'harlow solid italic', 'arial narrow', Helvetica, Arial, Lucida, sans-serif;
			    background-color: #A9ABD9;
			    color: #b4d9c4;
			    font-weight: 500;
			    box-sizing: border-box;
			    margin: 0;
			    padding: 0;
			    border: 0;
			}
		{% endblock %}


		<footer>
			<section>
				<div class="menu">
					<a href="/">Accueil</a>
					<a href="/catalogue">Catalogue</a>
					<a href="/contact">Contact</a>
					<a href="/panier">Panier</a>
				</div>
				<div class="logo">
					<img class="log" src="{{ asset("/images/logo.jpg.jpg")}} " alt="">
				</div>
				<div class="mention">
					<a href="../AuFilDuVal/Mentions légales et politique de confidentialité  Au Fil Du Val.pdf">Mentions
																		                    Légales</a>
					<a href="../AuFilDuVal/Recapitulatif_INPI.pdf">Inpi</a>
				</div>

			</section>
		</footer>

	</body>
</html>
